In [3]:
import pandas
import numpy

In [12]:
#load datasets
am_df = pandas.read_csv("data/american_stock.csv")
eu_df = pandas.read_csv("data/european_index.csv")

In [13]:
am_df.head()

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,sic,index_flag,exchange_d,class,issue_type,industry_group,issuer,div_convention,exercise_style,am_set_flag
0,101594,20150102,AAPL 150102C100000,1,20150102,20150102.0,C,100000,9.20,9.35,...,3571,0,4,NaN,0,NaN,APPLE INC,NaN,A,NaN
1,101594,20150102,AAPL 150102C101000,1,20150102,20150102.0,C,101000,8.20,8.40,...,3571,0,4,NaN,0,NaN,APPLE INC,NaN,A,NaN
2,101594,20150102,AAPL 150102C102000,1,20150102,20150102.0,C,102000,7.25,7.35,...,3571,0,4,NaN,0,NaN,APPLE INC,NaN,A,NaN
3,101594,20150102,AAPL 150102C103000,1,20150102,20150102.0,C,103000,6.20,6.40,...,3571,0,4,NaN,0,NaN,APPLE INC,NaN,A,NaN
4,101594,20150102,AAPL 150102C104000,1,20150102,20150102.0,C,104000,5.25,5.35,...,3571,0,4,NaN,0,NaN,APPLE INC,NaN,A,NaN

In [14]:
eu_df.head

<bound method NDFrame.head of            secid      date                symbol  symbol_flag    exdate  \
0         102480  20150102    NDX 150109C3100000            1  20150109
1         102480  20150102    NDX 150109C3125000            1  20150109
2         102480  20150102    NDX 150109C3150000            1  20150109
3         102480  20150102    NDX 150109C3175000            1  20150109
4         102480  20150102    NDX 150109C3200000            1  20150109
...          ...       ...                   ...          ...       ...
12242381  102480  20211231  NDXP 220225P21100000            1  20220225
12242382  102480  20211231  NDXP 220225P21200000            1  20220225
12242383  102480  20211231  NDXP 220225P21300000            1  20220225
12242384  102480  20211231  NDXP 220225P21400000            1  20220225
12242385  102480  20211231  NDXP 220225P21500000            1  20220225

           last_date cp_flag  strike_price  best_bid  best_offer  ...   sic  \
0         20141230.0       C       3100000    1124.9      1134.0  ...  9999
1                NaN       C       3125000    1099.9      1109.0  ...  9999
2                NaN       C       3150000    1074.9      1084.0  ...  9999
3                NaN       C       3175000    1049.9      1059.0  ...  9999
4                NaN       C       3200000    1024.9      1034.0  ...  9999
...              ...     ...           ...       ...         ...  ...   ...
12242381         NaN       P      21100000    4756.6      4787.8  ...  9999
12242382         NaN       P      21200000    4856.4      4883.9  ...  9999
12242383         NaN       P      21300000    4956.3      4985.3  ...  9999
12242384         NaN       P      21400000    5056.1      5087.4  ...  9999
12242385         NaN       P      21500000    5156.0      5183.5  ...  9999

          index_flag  exchange_d  class  issue_type  industry_group  \
0                  1       32768    NaN           A             NaN
1                  1       32768    NaN           A             NaN
2                  1       32768    NaN           A             NaN
3                  1       32768    NaN           A             NaN
4                  1       32768    NaN           A             NaN
...              ...         ...    ...         ...             ...
12242381           1       32768    NaN           A             NaN
12242382           1       32768    NaN           A             NaN
12242383           1       32768    NaN           A             NaN
12242384           1       32768    NaN           A             NaN
12242385           1       32768    NaN           A             NaN

                    issuer  div_convention  exercise_style  am_set_flag
0         NASDAQ 100 INDEX               I               E          NaN
1         NASDAQ 100 INDEX               I               E          NaN
2         NASDAQ 100 INDEX               I               E          NaN
3         NASDAQ 100 INDEX               I               E          NaN
4         NASDAQ 100 INDEX               I               E          NaN
...                    ...             ...             ...          ...
12242381  NASDAQ 100 INDEX               I               E          NaN
12242382  NASDAQ 100 INDEX               I               E          NaN
12242383  NASDAQ 100 INDEX               I               E          NaN
12242384  NASDAQ 100 INDEX               I               E          NaN
12242385  NASDAQ 100 INDEX               I               E          NaN

[12242386 rows x 38 columns]>